body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-image: url('/css/images/Portgas D. Ace.jpg');
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keep the background image fixed during scrolling */
}

.container {
    width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8); /* White background with opacity */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8); /* White background with opacity */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    background: rgba(255, 255, 255, 0.6); /* Transparent background for table */
}

.table th, .table td {
    text-align: center;
    padding: 10px;
}

.solved-row {
    background-color: #d4edda; /* Light green for solved problems */
}

.mark-review-col {
    background-color: #ffffff; /* Initial white background for review column */
}

.review-indicator {
    width: 20px;
    height: 20px;
    background-color: black; /* Default color for unreviewed */
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}

.review-indicator.reviewed {
    background-color: red; /* Color for reviewed */
}

.btn-warning {
    background-color: #ffc107; /* Custom color for mark review button */
    border-color: #ffc107;
}

.btn-success {
    background-color: #28a745; /* Custom color for mark solved button */
    border-color: #28a745;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
.button-container {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
}

.button-container a {
    width: 100%; /* Make buttons stretch to full width of the container */
    max-width: 300px; /* Optional: Limit the width of the buttons */
    text-align: center; /* Center text inside the buttons */
}
h3 {
    color: #333;
}

.eye-catching-quote {
    color: red;
    font-family: 'Georgia', serif; /* Using Georgia for a more elegant, serif font */
    font-size: 2em; /* Adjust the size as needed */
    font-style: italic; /* Makes the text italic */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for a more eye-catching effect */
    text-align: center; /* Center-align the text */
    margin: 20px; /* Add some margin around the quote */
}
