<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kishan Raj</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Codeforces Ladder for kishan0007</h1>
        <h2 class="eye-catching-quote">
            "Those who can't remember the past are condemned to repeat it"
        </h2>
        <div class="text-center mb-4 button-container">
            <a href="/problems/B" class="btn btn-primary mb-2">Div 2 Problem B(new)</a>
            <a href="/problems/C" class="btn btn-primary mb-2">Div 2 Problem C(new)</a>
            <a href="/problems/D" class="btn btn-primary">Div 2 Problem D(new)</a>
        </div>
    </div>
</body>
</html>
